input[type="text"] {
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 100%;
  padding: 16px;
}

button {
  cursor: pointer;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header {
  background-color: #231815;
  color: white;
  margin-bottom: 2%;
}

body {
  margin: 0;
  background-color: #fabf1b;
}

thead,
th {
  color: white;
  background-color: #231815;
}

tr.odd {
  background-color: rgba(255, 255, 255, 0.7);
}
tr.even {
  background-color: rgba(255, 255, 255, 0.5);
}

table tbody tr {
  line-height: 2rem;
}

#bookList > tr {
  cursor: pointer;
}
#bookList > tr:hover {
  background-color: rgba(255, 255, 255, 1);
}

th,
td {
  padding: 2px;
}

table {
  width: 80vw;
}

button {
  box-sizing: border-box;
}

.hide {
  display: none;
}

object {
  width: 80vw;
  height: 1000px;
}
