input[type="text"] {
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 100%;
  padding: 16px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header {
  background-color: #231815;
  color: white;
  margin-bottom: 2%;
}

body {
  margin: 0;
  background-color: #fabf1b;
}

thead,
th {
  color: white;
  background-color: #231815;
}

tr:nth-child(odd) {
  background: rgba(255, 255, 255, 0.8);
}
tr:nth-child(even) {
  background: rgba(255, 255, 255, 0.5);
}

table tbody tr {
  line-height: 3rem;
}

th,
td {
  padding: 5px;
}
